.container-base {
    padding-top: 50px;
}

.navbar-expand-lg {
    flex-flow: row nowrap !important;
    justify-content: flex-start !important;
}

.title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.align-items-center {
    align-items: center;
}

.max-lines-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.break {
    flex-basis: 100%;
    height: 0;
}