<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>YTTrend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>css}}
</head>

<body>
    {{>navbar}}

    {{{body}}}
</body>
{{>js}}

</html>